.venv/
# Byte-compiled / cache files
__pycache__/
*.py[cod]

# pip cache / build
*.egg-info/
dist/
build/
*.egg

# VSCode / PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.env
venv/

# pip / package caches
pip-wheel-metadata/
*.dist-info/
*.egg-info/